@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;


}

body {
    font-family: 'Poppins', sans-serif;
}

.head-1 {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c15355;
    width: 100%;
    position: fixed;

}

.head-1 {
    top: 0;
}

.left-head h2 {
    font-size: 30px;
    color: white;
}

.right-head a {
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.head-2 {
    margin-top: 6%;
    padding: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c15355;
    color: white;
}

.head-2 h1 {
    font-size: 60px;
}


.section {
    width: 90%;
    margin: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.para {

    width: 350px;
    color: black;
    margin: 20px;
}

.brand {
    margin: 2%;
    padding: 2%;
    color: crimson;
    font-size: 20px;
}

.para p {
    margin: 2%;
    padding: 2%;
}

.para-btn {
    margin: 4%;
    padding: 2%;
    margin-top: 10px;
    width: 20%;
    padding: 5px;
    background-color: #c15355;
    color: white;
    border: none;
}

.arraw img {
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: #cccccc;
    border-radius: 100%;
}


.showimage {

    height: 500px;
    background-color: #c15355;;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading h1 {
    font-size: 35px;

}

.heading {
    color: white;
}

.image {
    width: 200px;
    height: auto;
    border: 1px solid #cccccc;
    margin-top: 30px;
    margin: 15px;
    padding: 20px;
    /* padding: 10px; */
}

.image img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    margin: auto;
}

.imagemain {
    display: flex;
    flex-direction: row;
    position: relative;

}

.nameimage {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;

}

.nameimage p {
    color: #cccccc;
}

.nameimage h3 {
    font-size: 25px;

}

.logoabsolute {
    position: absolute;
    left: 125px;
    bottom: 0px;
    width: 40px;
}

.logoabsolute1 {
    position: absolute;
    left: 397px;
    bottom: 0px;
    width: 40px;
}

.logoabsolute2 {
    position: absolute;
    left: 670px;
    bottom: 0px;
    width: 40px;
}

.logoabsolute3 {
    position: absolute;
    left: 942px;
    bottom: 0px;
    width: 40px;
}

.logoabsolute img {
    width: 130px;
    height: 30px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}

.logoabsolute1 img {
    width: 130px;
    height: 30px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}

.logoabsolute2 img {
    width: 130px;
    height: 30px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}

.logoabsolute3 img {
    width: 130px;
    height: 30px;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
}


.bottom1 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    color: #c15355;

}

.bottom1 h3 {
    font-size: 40px;
}

.scenerymain {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;

}

.scenery img {
    width: 350px;
    height: 200px;
    /* margin: 40px; */
}

.scenery {
    width: 400px;
    height: auto;
    margin: 40px;
}

.scenery h6 {
    font-size: 18px;
    color: brown;
}

.img-para-btn {
    margin: 1%;
    padding: 1%;
    margin-top: 10px;
    width: 20%;
    padding: 5px;
    background-color: #c15355;
    color: white;
    border: none;
}